.header-header30 {
  gap: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-image1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.header-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255,255,255,0.8);
}
.header-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.header-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.header-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.header-image2 {
  width: 200px;
  align-self: flex-start;
  object-fit: cover;
}
.header-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header-text1 {
  font-size: 36px;
  align-self: stretch;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.header-text2 {
  font-style: italic;
  text-align: center;
  padding-bottom: var(--dl-space-space-unit);
}
.header-actions {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: flex-end;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.header-button1 {
  border-color: #4a256a;
  text-decoration: none;
  background-color: #4a256a;
}
.header-text3 {
  text-align: center;
}
.header-button2 {
  color: #4a256a;
  border-color: #4a256a;
  text-decoration: none;
}
.header-text4 {
  text-align: center;
}
@media(max-width: 991px) {
  .header-text1 {
    text-align: center;
  }
  .header-text2 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .header-actions {
    width: 100%;
    flex-direction: column;
  }
  .header-button1 {
    width: 100%;
  }
  .header-button2 {
    width: 100%;
  }
}
